<!DOCTYPE html>
<html data-theme="forest">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    {% block container%}
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex flex-col items-center text-center">
            <h1 class="text-5xl font-bold mb-4">Pay with M-Pesa</h1>
            <img src="{{ url_for('static', filename='img/pay.svg') }}" alt="illustration"
                class="w-40 md:w-52 lg:w-60 mb-4">
            <div class="card w-full max-w-xl p-5 shadow-2xl bg-base-100">
                <form class="card-body space-y-4" action="/api/pay" method="POST" id="paymentForm">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Phone Number</span>
                        </label>
                        <input id="phoneNo" type="text" placeholder="07xxxxxxx" class="input input-bordered"
                            name="phone_no" required />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Amount</span>
                        </label>
                        <input id="amount" type="text" class="input input-bordered" name="amount" required />
                    </div>
                    <div class="form-control mt-4">
                        <button id="payBtn" class="btn btn-primary text-xl w-full" type="submit">Pay Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock%}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</body>

</html>